/* Font Face */
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/Open Sans/OpenSans-Regular.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "Poppins";
  color: #111441;
  font-weight: bold;
}
p,
span {
  font-family: "OpenSans";
}

.btn-new {
  display: inline-block;
  padding: 10px 22px;
  border-radius: 6px;
  background: #FF97C9;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  transition: .2s;
}
.btn-new:hover {
  transform: scale(1.1);
  opacity: 0.9;
  color: white;
  text-decoration: none;
}

#navbarNavAltMarkup {
  position: relative;
}
.navbar {
  padding: 10px 0 !important;
  font-family: "Poppins";
}
.navbar-nav {
  position: absolute;
  right: 0;
}
.navbar-nav a {
  margin-left: 20px;
  transition: 0.2s;
}
.navbar-brand,
.nav-item {
  color: #111441 !important;
}
.navbar-nav a:hover {
  opacity: 0.7;
}
.navbar-brand .img-icon {
  height: 45px;
}


/* CSS For Gadget Screen Size */
@media only screen and (max-width: 540px) {
  .navbar-nav {
    left: 0;
    text-align: center;
  }
  .navbar-nav a {
    margin-left: 0;
  }

  #pushContent {
    height: 100px;
    width: 100%;
    display: none;
  }

  body {
    position: absolute;
  }
}

.background-home {
  background: #E1ECFF;
}
.title-wrapper {
  margin-top: 110px;
  opacity: 95%;
}
.title-wrapper p {
  font-size: 18px;
}
.title-wrapper .hashtag {
  color: #5A8BEC;
}
.title-wrapper .btn-danger {
  background: #e44450;
  border: none;
  border-radius: 35px;
  font-family: "OpenSans";
  font-size: 18px;
  padding: 7px 20px;
  transition: 0.3s;
}
.title-wrapper .btn-danger:hover {
  opacity: 0.9;
  box-shadow: 0px 1px 10px grey;
}

.main-image-wrapper {
  margin-top: 55px;
}
.main-image-wrapper img {
  width: 100%;
  height: 420px;
}

/* CSS For Gadget Screen Size */
@media only screen and (max-width: 540px) {
  .title-wrapper {
    margin-top: 40px;
  }
  .title-wrapper h2 {
    font-size: 24px;
  }
  .title-wrapper p {
    font-size: 14px;
  }
  .title-wrapper .btn-danger {
    font-size: 14px;
  }

  .main-image-wrapper {
    display: none;
  }
}

.case-section {
  margin-top: 120px;
}
.case-wrapper {
  position: relative;
  margin-bottom: 100px;
  min-height: 300px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
  box-shadow: 1px 1px 20px 0 rgb(0 0 0 / 10%);
  color: #111441;
}
.case-wrapper h3 {
  margin-bottom: 30px;
}

.confirm-case-wrapper {
  margin-top: 80px;
  font-size: 20px;
}
.positif-case {
  color: #5A8BEC;
}
.treated-case{
  color: #ff9900;
}
.recovered-case {
  color: #13c554;
}
.death-case {
  color: #e44450;
}
.case-wrapper .last-update {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
}
.case-wrapper::before {
  content: "";
  display: block;
  width: 50px;
  height: 52px;
  position: absolute;
  top: -20px;
  left: -20px;
  background-image: url("../assets/images/virus-icon.svg");
  background-size: cover;
}
.case-wrapper::after {
  content: "";
  display: block;
  width: 50px;
  height: 52px;
  position: absolute;
  bottom: -20px;
  right: -20px;
  background-image: url("../assets/images/virus-icon.svg");
  background-size: cover;
  transform: rotate(60deg);
}

/* CSS For Gadget Screen Size */
@media only screen and (max-width: 540px) {
  .case-wrapper h3 {
    font-size: 20px;
  }
  .confirm-case-wrapper {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .case-wrapper p {
    font-size: 14px;
  }
}

.map-wrapper h3 {
  color: #111441;
  margin: 30px 0;
}
#map {
  width: 100%;
  height: 350px;
  margin-bottom: 100px;
}
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h3 {
  margin: 0 0 5px;
  color: #777;
}

/* CSS For Gadget Screen Size */
@media only screen and (max-width: 540px) {
  .map-wrapper h3 {
    font-size: 20px;
  }
  #map {
    margin-bottom: 20px;
  }
}

.chart-wrapper {
  margin-bottom: 130px;
}
.chart-wrapper h3 {
  color: #111441;
  margin: 30px 0;
}

/* CSS For Gadget Screen Size */
@media only screen and (max-width: 540px) {
  .chart-wrapper {
    margin-bottom: 35px;
  }
  .chart-wrapper h3 {
    font-size: 20px;
  }
  .chart-wrapper p {
    font-size: 14px;
  }
  #confirmed-chart {
    height: 400px;
  }
  #dateReportCovid19 {
    font-size: 14px;
  }
}

.covid-image {
  width: 100%;
  height: 380px;
  margin-top: -50px;
}
.covid-description-wrapper h3 {
  color: #111441;
}
.covid-description-wrapper p {
  font-size: 18px;
}
.covid-description-wrapper .btn-danger {
  background: #e44450;
  border: none;
  border-radius: 35px;
  font-family: "OpenSans";
  font-size: 18px;
  padding: 7px 20px;
  transition: 0.3s;
}
.covid-description-wrapper .btn-danger:hover {
  opacity: 0.9;
  box-shadow: 0px 1px 10px grey;
}

/* CSS For Gadget Screen Size */
@media only screen and (max-width: 540px) {
  .covid-image {
    display: none;
  }
  .covid-description-wrapper h3 {
    font-size: 20px;
  }
  .covid-description-wrapper p {
    font-size: 14px;
  }
  .covid-description-wrapper .btn-danger {
    font-size: 14px;
  }
}

.cegah-covid-section {
  padding-top: 50px;
  padding-bottom: 10px;
}
.cegah-covid-description {
  color: #111441;
}
.cegah-covid-description p {
  font-size: 18px;
}
.cegah-covid-image-wrapper {
  position: relative;
  min-height: 250px;
}
.cegah-covid-image {
  display: block;
  margin: 0 auto;
  height: 300px;
}
.protokol-kesehatan-image {
  width: 100%;
  margin-top: 50px;
}
.cegah-covid-list {
  width: 100%;
  min-height: 160px;
  text-align: center;
  box-sizing: border-box;
}
.cegah-covid-list img{
  width: 40%;
  margin: auto;
}

@media only screen and (max-width: 540px) {
  .cegah-covid-section {
    padding: 0;
  }
  .cegah-covid-description h3 {
    font-size: 20px;
  }
  .cegah-covid-description p {
    font-size: 14px;
  }
  .cegah-covid-list img {
    width: 30%;
  }
  .cegah-covid-list h6 {
    font-size: 14px;
  }
  .cegah-covid-list:nth-child(2) img {
    margin-top: 0 !important;
  }
  .protokol-kesehatan-image {
    display: none;
  }
}


/* CSS For Gadget Screen Size */
@media only screen and (max-width: 540px) {
  
}

.background-symptoms {
  background-color: #E1ECFF;
  background-image: url("../assets/images/bg-1.svg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
}
.gejala-covid-wrapper h3 {
  color: #111441;
}
.gejala-covid-wrapper p {
  font-size: 20px;
}
.gejala-covid-list {
  width: 60%;
  margin: 40px auto 0 auto;
}
.gejala-covid-card {
  padding: 5px 25px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgb(0 0 0 / 10%);
  text-align: center;
}
.gejala-covid-card p {
  font-size: 18px;
}

/* CSS For Gadget Screen Size */
@media only screen and (max-width: 540px) {
  .gejala-covid-section {
    margin-bottom: 60px;
  }
  .gejala-covid-card {
    width: 90%;
    margin: 10px auto;
    padding: 5px 13px;
  }
  .gejala-covid-card img {
    width: 60%;
  }
  .gejala-covid-wrapper h3 {
    font-size: 20px;
  }
  .gejala-covid-wrapper p {
    font-size: 14px;
  }
  .gejala-covid-list .row:nth-child(1) {
    margin-bottom: 0 !important;
  }
}

/* CSS For Gadget Screen Size */
@media only screen and (min-width: 768px) and (max-width: 1024px)  {
  .title-wrapper h2 {
    font-size: 24px;
  }
  .title-wrapper p {
    font-size: 14px;
  }

  .case-wrapper h3 {
    font-size: 20px;
  }
  .case-wrapper p {
    font-size: 14px;
  }

  .map-wrapper h3 {
    font-size: 20px;
  }
  .map-wrapper h5 {
    font-size: 14px;
  }

  .chart-wrapper h3 {
    font-size: 20px;
  }
  .chart-wrapper p, #dateReportCovid19 {
    font-size: 14px;
  }

  .covid-description-wrapper h3 {
    font-size: 20px;
  }
  .covid-description-wrapper p {
    font-size: 14px;
  }

  .gejala-covid-card {
   padding: 5px;
  }

  .gejala-covid-wrapper h3 {
    font-size: 20px;
  }
  .gejala-covid-wrapper p {
    font-size: 14px;
  }

  .cegah-covid-description h3 {
    font-size: 20px;
  }

  .cegah-covid-description p {
    font-size: 14px;
  }

  .protokol-kesehatan-image {
    margin-top: 90px;
  }

  .footer-quote {
    font-size: 28px !important;
  }

  .notfound-wrapper {
    width: 60% !important;
  }
}

.footer-section .row {
  min-height: 300px;
  background: #5A8BEC;
  color: white;
  opacity: 0.9;
  position: relative;
}
.footer-quote {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
}
.copyright {
  font-size: 14px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.notfound-wrapper {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #111441;
}
.notfound-wrapper img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

/* CSS For Gadget Screen Size */
@media only screen and (max-width: 540px) {
  .footer-quote {
    width: 300px;
    font-size: 28px;
  }
  .copyright {
    font-size: 9px;
    display: block;
    width: auto;
  }

  .notfound-wrapper {
    width: 80%;
  }

  .notfound-wrapper h1{
    font-size: 20px;
  }
}

/* CSS Leaflet JS */
.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
